<%= form_for @event, :html => {:id => "event_form"} do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="tab-content">
    <div class="tab-pane active" id="my_group">
      <table class="table table-hover" align="center">
    <tbody>
      <tr>
        <td><%= "イベント画像" %></td>
        <td><%= image_tag @event.image.url(:thumb)%></td>
        <td><%= f.file_field :image %></td>
      <tr>
        <td><%= "名前"%></td>
        <td><%= f.text_field :name%></td>
      </tr>
      <tr>
        <td><%= "日付"%></td>
        <td><%= f.date_select :date%></td>
      </tr>
      <tr>
        <td><%= "場所"%></td>
        <td><%= f.text_field :place%></td>
      </tr>
      <tr>
        <td><%= "料金"%></td>
        <td><%= f.number_field :price%></td>
      </tr>
    </tbody>
      </table>

    </div>
</div>
<% end %>
