<%= form_for @event, :html => {:id => "event_form", :multipart => true}, remote: true do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-hover" align="center">
    <tbody>

      <tr>
        <td><%= "名前"%></td>
        <td colspan="2"><%= f.text_field :name%></td>
      </tr>

      <tr>
        <td width="20"><%= "イベント画像" %></td>
        <td><%= image_tag @event.image.url(:thumb)%></td>
        <td id="upload-image"><%= f.file_field :image %></td>
      </tr>
      
      <tr>
        <td><%= "日付"%></td>
        <td colspan="2"><%= f.text_field :start_at,:type=>'date',:value=>Date.today %> から <%= f.text_field :end_at,:type=>'date',:value=>Date.today %></td>       
      </tr>
      <tr>
        <td> <%= f.label "都道府県" %></td>
        <td colspan="2"><%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %></td>
      </tr>
      <tr>
        <td><%= "場所"%></td> 
        <td colspan="2"><%= f.text_field :place%></td>
      </tr>
      <tr>
        <td><%= "料金"%></td>
        <td colspan="2"><%= f.number_field :price%></td>
      </tr>
      <tr>
        <td><%= "詳細" %></td>
        <td colspan="2"><%= f.text_area :detail %></td>
      </tr>
      <%= hidden_field_tag "select_members", '', name: 'member2', value: "" %>
    <% end %>

      <tr>
        <td><%= "メンバー追加"%></td>
        <td colspan="2">
          <div class="search_member">
            <%= form_tag search_members_path ,  {class: "form_search", method: :get, remote: true} do %>
              <%= text_field_tag :q, "", placeholder: "検索" %>
              <%#= submit_tag "search" ,class: "btn search_button"%>
            <% end %>

            <button id="search_member">検索</button>
            </div><%# /serach_member %>
        </td>

      <tr>
        <td><%= "メンバー"%></td>
        <td><div id="member-info"></div></td>
        <td><div class='member_field'>

        <%#= content_tag "span", '', class: "partner"%>
        </div></td>
      </tr>
      </tr>

    </tbody>
  </table>



  </tbody>
</table>

<%#= hidden_field_tag 'create', "false", :id => 'render-template' %>

<script type="text/javascript">
$(function(){
　$("#datepicker").datepicker();
});

  $(document).on("click", ".member_check", function(){
    if(this.checked){
      //既に追加されている名前ははじく
      if (!$(".member_field").is(":contains('"+ this.attributes.tag.value + "')")) {
        <%# 選択されたユーザーを表示 %>
        $(".member_field").append($('<span/>', {name: this.value ,id: this.attributes.tag.value, class: "partner"}).html(
          this.attributes.tag.value + " "));
      };
      

    }else{
        $("#" + this.attributes.tag.value).remove();
    }
  });


//検索フィールド用に、カラーボックスが開いたときに検索結果を取得
$(document).ready(function(){
  $.ajax({
  url: "<%= search_members_path %>",
  type: "GET",
  data: {"q": ""},
  success: function(data)
  {  
    $("#member-info").html(data);
  },
  error: function(data)
  {
    alert("通信に失敗しました");
  }
  });
});
  
$(document).on('click', '#search_member', function(xhr,data,status){
  $.ajax({
  url: "<%= search_members_path %>",
  type: "GET",
  data: {"q": $('#q').val()},
  success: function(data)
  {  
    $("#member-info").html(data);
  },
  error: function(data)
  {
    alert("通信に失敗しました");
  }
  });

});

//検索ボタンを押してから戻ってきたデータを用いて、画面に表示
$(document).on("ajax:success", ".form_search", function(data, status, xhr){
    alert(status);
    $("#member-info").html(data);
  });

</script>