<%= form_for @event, :html => {:id => "event_form"} do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-hover" align="center">
    <tbody>
      <tr>
        <td width="20"><%= "イベント画像" %></td>
        <td><%= image_tag @event.image.url(:thumb)%></td>
        <td><%= f.file_field :image %></td>
      </tr>
      <tr>
        <td><%= "名前"%></td>
        <td colspan="2"><%= f.text_field :name%></td>
      </tr>
      <tr>
        <td><%= "日付"%></td>
        <td colspan="2"><%= f.date_select :date %></td>
      </tr>
      <tr>
        <td> <%= f.label "都道府県" %></td>
        <td colspan="2"><%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %></td>
      </tr>
      <tr>
        <td><%= "場所"%></td> 
        <td colspan="2"><%= f.text_field :place%></td>
      </tr>
      <tr>
        <td><%= "料金"%></td>
        <td colspan="2"><%= f.number_field :price%></td>
      </tr>
      <tr>
        <td><%= "詳細" %></td>
        <td colspan="2"><%= f.text_area :detail %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<script type="text/javascript">
$(function(){
　$("#datepicker").datepicker();
});
</script>