<%= form_for @event, :html => {:id => "event_form"} do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="tab-content">
    <div class="tab-pane active" id="my_group">
      <table class="table table-hover" align="center">
		<tbody>

				<td><%= "名前"%></td>
				<td><%= @event.name%></td>
			</tr>
			<tr>
				<td><%= "イベント画像" %></td>
				<td><%= image_tag @event.image.url(:thumb) %></td>
			<tr>

			<tr>
				<td><%= "都道府県" %></td>
				<td><%= Prefecture.find(@event.prefecture_id).name%>
			</tr>
			<tr>
				<td><%= "場所"%></td>
				<td><%= @event.place%></td>
			</tr>
			<tr>
				<td><%= "料金"%></td>
				<td><%= @event.price%></td>
			</tr>
			<tr>
				<td><%= "詳細" %></td>
				<td><%= @event.detail %></td>
			</tr>

			<div id="members_status">
			<tr>
				<td><%= "参加" %></td>

				<td><%= User.select(:name).where(id: Member.select(:user_id).where(event_id: @event.id, attend_status: 0).pluck(:user_id)).pluck(:name)%></td>
				<%# if @event.admin_user != session[:user_id]  %>


				<% if member = Member.where(user_id: session[:user_id], event_id: @event.id).last  %>
					<% if member.attend_status != 0%>
						<td><%= link_to "参加ssss", update_member_members_path(:attend_status => 0,:member_id => member.id, :event_id => @event.id),:method => 'PUT',:class => 'btn btn-primary', :id => 'update_member'  %></td>
					<% end %>
				<% else %>
						<td><%= link_to "参加", members_path(:attend_status => 0,:event_id => @event.id),:method => 'POST',:class => 'btn btn-primary', :id => 'add_member'  %></td>
				<% end %>
			</tr>

			<tr>
				<td><%= "不参加" %></td>
				<% if @event.admin_user != session[:user_id]  %>
				<td><%= User.select(:name).where(id: Member.select(:user_id).where(event_id: @event.id, attend_status: 1).pluck(:user_id)).pluck(:name)%></td>
				<% end %>
			</tr>

			<tr>
				<td><%= "招待中" %></td>
				<td><%= User.select(:name).where(id: Member.select(:user_id).where(event_id: @event.id, attend_status: 2).pluck(:user_id)).pluck(:name)%></td>
			</tr>
		</div>

		</tbody>
      </table>

    </div>
</div>
<% end %>	
<%= hidden_field_tag 'create', true, :id => 'render-template' %>

<%= javascript_tag do %>



<% end %>


