<% if @event.admin_user != session[:user_id]%>
	<div class="btn btn-large" id="add_member_<%= @event.id%>">参加</div>
	<div class="btn btn-large" id="delete_member_<%= @event.id %>">不参加</div>
<% end %>
 <div class="tab-content">
    <div class="tab-pane active" id="my_group">
      <table class="table table-hover" id="event_table" align="center">
		<tbody>

				<td><%= "名前"%></td>
				<td><%= @event.name%></td>
				</tr>
			<tr>
				<td><%= "イベント画像" %></td>
				<td><%= image_tag @event.image.url(:thumb) %></td>
			<tr>

			<tr>
				<td><%= "都道府県" %></td>
				<td><%= Prefecture.find(@event.prefecture_id).name%>
			</tr>
			<tr>
				<td><%= "場所"%></td>
				<td><%= @event.place%></td>
			</tr>
			<tr>
				<td><%= "料金"%></td>
				<td><%= @event.price%></td>
			</tr>
			<tr>
				<td><%= "詳細" %></td>
				<td><%= @event.detail %></td>
			</tr>

			<tr>

				<td><%= "参加" %></td>

				<td><%= User.select(:name).where(id: Member.select(:user_id).where(event_id: @event.id, attend_status: 0).pluck(:user_id)).pluck(:name)%></td>
			</tr>

			<tr>
				<td><%= "不参加" %></td>
				<% if @event.admin_user != session[:user_id]  %>
					<td><%= User.select(:name).where(id: Member.select(:user_id).where(event_id: @event.id, attend_status: 1).pluck(:user_id)).pluck(:name)%>
					</td>					
				<% end %>
			</tr>

			<tr>
				<td><%= "招待中" %></td>
				<td><%= User.select(:name).where(id: Member.select(:user_id).where(event_id: @event.id, attend_status: 2).pluck(:user_id)).pluck(:name)%></td>
			</tr>
			<%= hidden_field_tag 'render-template', value: nil%>

		</tbody>
      </table>

    </div>
</div>

<%= hidden_field_tag 'create', true, :id => 'render-template' %>

<%= javascript_tag do %>

<%# 参加ボタン(PUT join) %>
$(document).on('click', '#add_member_<%= @event.id%>', function(e){

    //アップロード、表示
	$.ajax({
          type: 'POST',
          url: '/members/join',
          dataType: 'html',
          data: {   event_id: <%= @event.id%>,
                    attend_status: 0
                    },
          success: function(data) {
          $('#event_table').html(data);
        }
     });
});

<%# 不参加ボタン %>
$(document).on('click', '#delete_member_<%= @event.id%>', function(e){
    //アップロード、表示
	$.ajax({
          type: 'PUT',
          url: '/members/update_member',
          dataType: 'html',
          data: {   event_id: <%= @event.id%>,
                    attend_status: 1
                    },
          success: function(data) {
          $('#event_table').html(data);
        }
     });
});




<% end %>
