<center>
  <h1>イベントリスト</h1>
  <%= link_to 'イベントの新規作成', new_event_path, remote: true,id: 'add_event_button',:class => 'btn btn-primary'  %>




  <br/>
  <br>


  <div class="tab-content">
    <div class="tab-pane active" id="my_group">
      <table class="table table-hover" align="center">
	<thead>
	  <tr>
      <th>イベント画像</th>
	    <th>イベント名</th>
	    <th>日付</th>
	    <th>場所</th>
	    <th>金額</th>
	    <th>詳細</th>
	    <th>編集</th>
	    <th>削除</th>

	  </tr>
	</thead>

	<tbody>
	  <% @events.each do |event| %>
	  <tr>
            <td><%=  image_tag event.image.url(:thumb) %></td>
            <td><%= event.name %></td>
            <td><%= event.date %></td>
            <td><%= event.place %></td>
            <td><%= event.price %></td>
            <td><%= link_to '詳細', event, remote: true, id:'show_event_button' %></td>
            <td><%= link_to '編集', edit_event_path(event), remote: true, id: 'edit_event_path' %></td>
            <td><%= link_to '削除', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	  <% end %>
	</tbody>
      </table>
      <br> 
    </div>
  </div>
</center>

<!-- イベント作成用モーダル -->
<div class="modal hide fade" id="add_event_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>イベント</h3>
  </div>
  <div class="modal-body" id="create_body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-large" id="save_select_modal_button">保存</button>
    <button class="btn btn-large" id="close_select_modal_button">戻る</button>
  </div>
</div>

<!-- イベント詳細用モーダル -->
<div class="modal hide fade" id="show_event_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>イベントの詳細</h3>
  </div>
  <div class="show-modal-body" id="show_body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-large" id="show_select_close_modal_button">閉じる</button>
  </div>
</div>


<!-- イベント更新用モーダル -->
<div class="modal hide fade" id="update_event_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>イベントの更新</h3>
  </div>
  <div class="update-modal-body" id="update_body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-large" id="update_select_modal_button">保存</button>
    <button class="btn btn-large" id="update_select_close_modal_button">戻る</button>  </div>
</div>

<%= javascript_tag do %>

<%# イベント詳細をモーダル表示 %>
$(document).on('ajax:success', '#show_event_button', function(data, status, xhr){
  $("#show_body").html(status);
  $("#show_event_modal").modal("show");
});


<%# イベント編集をモーダル表示 %>
$(document).on('ajax:success', '#edit_event_path', function(data, status, xhr){
  $("#update_body").html(status);
  $("#update_event_modal").modal("show");
});

<%# イベント作成をモーダル表示 %>
$(document).on('ajax:success', '#add_event_button', function(data, status, xhr){
  $("#create_body").html(status);
  $("#add_event_modal").modal("show");
});



<%#「イベント作成」ボタン %>
$('#add_event_button').click(function(event)
{
$('#add_event_modal').modal("show");
});




<%# イベント作成用モーダル内の「戻る」ボタン %>
$('#close_select_modal_button').click(function(){
  $('#add_event_modal').modal('hide');
});

<%# プロフィール詳細用モーダル内の「閉じる」ボタン %>
$('#show_select_close_modal_button').click(function(){
  $('#show_event_modal').modal('hide');
});

<%# プロフィール更新用モーダル内の「閉じる」ボタン %>
$('#update_select_close_modal_button').click(function(){
  $('#update_event_modal').modal('hide');
});


<%# イベント保存用モーダル内の「保存」ボタン %>
$(document).on('click', '#save_select_modal_button', function(e){
    e.preventDefault();

    $('#add_event_modal').modal('hide');
    $('#event_form').submit();

  });

<%# イベント更新用モーダル内の「保存」ボタン %>
$(document).on('click', '#update_select_modal_button', function(e){
    e.preventDefault();

    $('#event_form').submit();
});




<% end %>











