<center>
  <h1>イベントリスト</h1>

  <input id="find" name="find" type="search"/>


  <%= link_to 'イベントの新規作成', new_event_path, remote: true,id: 'add_event_button',:class => 'btn btn-primary'  %>
  <br/>
  <br>
<input type="text" id="datepicker">
<script type="text/javascript">
$(function(){
　$("#datepicker").datepicker();

});
</script>
  <div class="tab-content">
    <div class="tab-pane active" id="my_group">
      <table class="table table-hover" align="center">
	<thead>
	  <tr>
      <th>イベント画像</th>
	    <th>イベント名</th>
      <th>管理者</th>
	    <th>日付</th>
      <th>開催地</th>
	    <th>会場</th>
	    <th>金額</th>
	    <th>詳細</th>
	    <th>編集</th>
	    <th>削除</th>
	  </tr>
	</thead>

	<tbody>
	  <% @events.each do |event| %>
	  <tr>
            <td><%=  image_tag event.image.url(:thumb) %></td>
            <td><%= event.name %></td>
            <td><%= User.find(event.admin_user).name %></td>
            <td><%= event.date %></td>
            <td><%= Prefecture.find(event.prefecture_id).name %></td>
            <td><%= event.place %></td>
            <td><%= event.price %></td>
            <td><%= link_to '詳細', event, remote: true, id:'show_event_button' %></td>
            <% if(current_user.id == event.admin_user)%>            
              <td><%= link_to '編集', edit_event_path(event), remote: true, id: 'edit_event_path' %></td>
              <td><%= link_to '削除', event, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>

	  </tr>
	  <% end %>
	</tbody>
      </table>
      <br> 
    </div>
  </div>
</center>

<div class="modal hide fade" id="event_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>イベント作成</h3>
  </div>

  <div class="modal-body" id="event_body">
  </div>

  <div class="modal-footer">
    <button class="btn btn-large" id="save_select_modal_button">保存</button>
    <button class="btn btn-large" id="close_select_modal_button">戻る</button>
  </div>
</div>

<%= javascript_tag do %>

<%# 「イベント作成」のモーダルを表示 %>
$(document).on('ajax:success', '#add_event_button', function(data, status, xhr){
  $("#event_body").html(status);
  $("#event_modal").modal("show");
});


<%# 「イベント作成」モーダル内の「戻る」ボタン %>
$('#close_select_modal_button').click(function(){
  $('#event_modal').modal('hide');
});

<%# 「イベント作成」モーダル内の「保存」ボタン %>
$(document).on('click', '#save_select_modal_button', function(e){
    e.preventDefault();

    $('#event_modal').modal('hide');
    $('#event_form').submit();

  });


<%# イベント編集をモーダル表示 %>
$(document).on('ajax:success', '#edit_event_path', function(data, status, xhr){
  $("#event_body").html(status);
  $("#event_modal").modal("show");
});

<%# イベント編集用モーダル内の「閉じる」ボタン %>
$('#update_select_close_modal_button').click(function(){
  $('#event_modal').modal('hide');
});

<%# イベント編集用モーダル内の「保存」ボタン %>
$(document).on('click', '#update_select_modal_button', function(e){
    e.preventDefault();

    $('#event_modal').modal('hide');
    $('#event_form').submit();
});


<%# イベント詳細をモーダル表示 %>
$(document).on('ajax:success', '#show_event_button', function(data, status, xhr){
  $("#event_body").html(status);
  $("#event_modal").modal("show");
});

<%# プロフィール詳細用モーダル内の「閉じる」ボタン %>
$('#show_select_close_modal_button').click(function(){
  $('#event_modal').modal('hide');
});



<% end %>











