<%= form_for @user, :url => {:class => 'profile' ,:action => 'edit'}, :html => {:id => "profile_form"}, remote: true do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-hover" align="center">
    <tbody>

      <tr>
        <td colspan="2"><%= "名前"%></td>
        <td ><%= f.text_field :name%></td>
      </tr>
      <tr>
        <td colspan="2"><%= "ユーザの画像" %></td>
        <td><%= image_tag @user.image.url(:thumb)%></td>
        <td id="upload-image"><%= f.file_field :image %></td>
      </tr>

 <%= f.fields_for :study_abroads do |sh| %>
 <tr>
    <td colspan="2"><%= "留学先"%></td>
    <td ><%= sh.text_field :school_name%></td>
  </tr>
  <tr>
    <td colspan="2"><%= "留学期間"%></td>
    <td><%= sh.text_field :study_from, :type=>'date', :value=>Date.today %>から<%= sh.text_field :study_to, :type=>'date',:value=>Date.today %></td>
  </tr>
  <tr>
    <td colspan="2"><%= "先生"%></td>
    <td><%= sh.text_field :teacher %></td>
  </tr>

  <tr>
    <td><%= " " %></td>
  </tr>

  <% end %>

    </tbody>
  </table>
<% end %> 

<script type="text/javascript">
  image_include = false;

 $('#upload-image').change(function(){
    image_include = true;

 });
</script>