
<center>
<h1>プロフィール</h1>
<%= link_to 'プロフィール編集', profile_edit_path, remote: true, id: 'update_profile_button' ,:class => 'btn btn-primary'  %>
	
<div id="profile_body">
<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>画像:</strong>
  <%= image_tag @user.image(:thumb) %>
</p>
<p>

<p>
	<strong>留学情報</strong>
<% @user.study_abroads.each do |study_abroad| %>
<p>
	<strong>学校名:</strong>
	<%= study_abroad.school_name %>
	<strong>期間:</strong>
	<%= study_abroad.study_from.to_s + " ~ " + study_abroad.study_to.to_s %>
</p>	
<% end %>
</p>
</div>


<button class="btn btn-large" id="update_profile_<%= @user.id %>">保存</button>
</center>


<%= javascript_tag do %>

$(document).on('ajax:success', '#update_profile_button', function(xhr,data,status){
  $("#profile_body").html(data);

	});

<%# 「イベント作成」モーダル内の「保存」ボタン %>
$(document).on('click', '#update_profile_<%= @user.id %>', function(e){
	
    //アップロード、表示

    if(image_include){
 	   $('#upload-image').upload('/profile/update',$("#profile_form").serialize(),function(html){
	 	   $('#profile_form').html(html);
              });


  }
                else{
              $.ajax({
                type: 'PUT',
                url: '/profile/update',
                dataType: 'html',
                data: $('#profile_form').serialize(),
                success: function(data){
                $("#profile_form").html(data);

            }});
}
  });



<% end%>