<!DOCTYPE html>
<html>
<head>
  <title>CNE1Party</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>

  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
 <%# if user_signed_in? %>
    <div class="container-fluid">
      <div id="header">
        <div class="navbar navbar-primary">
          <div class="navbar-inner">
            <a class="brand">フィリピン留学</a>
            <ul class="nav">
              <li><%= link_to "カレンダー", calendar_path %></li>
              <li><%= link_to "イベントリスト" ,  events_path %></li>
              <li><%= link_to "プロフィール", profile_index_path %></li>
              <li><%= link_to "設定"%>
            </ul>
           <div align="right">
             <% if current_user %>
               <%= image_tag current_user.image(:thumb) %>
               <%= current_user.name %>さんで、ログイン中　<%= link_to "ログアウト" ,logout_path %>
             <% else %>  
               <%= link_to "facebookでlogin", "/auth/facebook", :class => 'btn btn-primary' %>
             <% end %>             
           </div><%# div align%>

          </div><%# div navbor-inner%>
        </div><%# navboar navbar-primary%>
      </div><%# header%>
      
      <div id="body">  
        <%= yield %>
      </div>
  </div>


</body>
</html>
