<!DOCTYPE html>
<html>
<head>
  <title>CNE1Party</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="user_nav">
    <% if current_user %>
    	<%= image_tag current_user.image %>
	    <%= current_user.name %>さんで、ログイン中　<%= link_to "ログアウト" ,logout_path %>
    <% end %>
</div>


<%= yield %>

</body>
</html>
