			<tr>
				<td><%= "参加" %></td>

				<td><%= User.select(:name).where(id: Member.select(:user_id).where(event_id: @event.id, attend_status: 0).pluck(:user_id)).pluck(:name)%></td>

				<% if @member = Member.where(user_id: session[:user_id], event_id: @event.id).last  %>
					<% if @member.attend_status != 0%>

						<td><button class="btn btn-large" id="update_member">参加</button></td>
					<% end %>
				<% else %>
						<td><button class="btn btn-large" id="add_member">参加</button></td>
				<% end %>
			</tr>

			<tr>
				<td><%= "不参加" %></td>
				<% if @event.admin_user != session[:user_id]  %>
					<td><%= User.select(:name).where(id: Member.select(:user_id).where(event_id: @event.id, attend_status: 1).pluck(:user_id)).pluck(:name)%>
					</td>

					<% if @member = Member.where(user_id: session[:user_id], event_id: @event.id).last  %>
						<%# すでに欠席にボタンを押されてある場合は、欠席ボタンを表示しない%>
						<% unless @member.attend_status == 1 %>
							<td><button class="btn btn-large" id="delete_member">不参加</button>
							</td>
						<% end %>
					<% end %>
				<% end %>
			</tr>

			<tr>
				<td><%= "招待中" %></td>
				<td><%= User.select(:name).where(id: Member.select(:user_id).where(event_id: @event.id, attend_status: 2).pluck(:user_id)).pluck(:name)%></td>
			</tr>